node_modules
# Ignore artifacts:
dist
coverage
test-config
.vscode
.prettierrc
.prettierignore
.gitignore
tsconfig.node.json
tsconfig.json
tsconfig.app.json
README.md
package.json
package-lock.json
.husky/
.github/
**/*.css
index.html
.vite/deps/
assets/
src/__tests__/msw/moc.json