.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
}

.container.light {
  background-color: #dbe2de;
  color: black;
}

.header {
  font-size: 32px;
  color: #ff0;
  margin-top: 40px;
}