.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
}

.container.light {
  background-color: #dfd6d6;
}

.header {
  font-size: 32px;
}